html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

.picture-frame {
    width: 80%;
    padding: 8px;
    background: white;
    border: 2px solid cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-frame img {
    width: 100%;
    opacity: 0.9;
}

.hamster-playground {
    border: 5px solid gold;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    /* how to line up on main axis */
    justify-content: flex-start;
    /* how to line up on cross axis */
    align-items: center;
}
/* the :hover sudo class*/
.picture-frame:hover {
    outline: 5px solid red;
}

.picture-frame:hover img {
    transform: scale(1.10);
    opacity: 1.0;

}
@media screen and (min-width: 500px) {
    body {
        background: red;
    }
    .picture-frame {
        width: 40%;
        margin-top: 20px;        
    }
    .hamster-playground {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 800px) {
    body {
        background: cornflowerblue;
    }
    .logo-text {
        font-size: 32px;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    body {
        background: pink;
        font-size: 48px;
font-family: 'Times New Roman', Times, serif    }
}



